{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Heading Breading -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="theme-color" content=#2196F3 />
  </head>
  <body>
  <div><title>HI AM DUCK</title></div>
  <div>GEOJSON at /static/geo/{ name }.geojson
  <ul>
    <li><a href="http://192.168.1.14:8000/static/geo/greenways.geojson">http://192.168.1.14:8000/static/geo/greenways.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/hospitals.geojson">http://192.168.1.14:8000/static/geo/hospitals.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/libraries.geojson">http://192.168.1.14:8000/static/geo/libraries.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/parks.geojson">http://192.168.1.14:8000/static/geo/parks.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/police_stations.geojson">http://192.168.1.14:8000/static/geo/police_stations.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/polling_locations.geojson">http://192.168.1.14:8000/static/geo/polling_locations.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/qol-npa-mapping.geojson">http://192.168.1.14:8000/static/geo/qol-npa-mapping.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/recycling_centers.geojson">http://192.168.1.14:8000/static/geo/recycling_centers.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/schools.geojson">http://192.168.1.14:8000/static/geo/schools.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/tax_exempt_properties.geojson">http://192.168.1.14:8000/static/geo/tax_exempt_properties.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/town_halls.geojson">http://192.168.1.14:8000/static/geo/town_halls.geojson</a></li>
    <li><a href="http://192.168.1.14:8000/static/geo/vacant_properties.geojson">ttp://192.168.1.14:8000/static/geo/vacant_properties.geojson</a></li>
  </ul>
  </body>
</html>